# Python
backend/.venv/
__pycache__/
*.pyc
backend/data/
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# Editor / OS
.DS_Store
.idea/
.vscode/
venv/
backend/venv/
.vercel
.env*

# Local Netlify folder
.netlify
od_cntrbtn_de_e.csv
